/* THIS WEBSITE DOES NOT SUPPORT DEVICES SMALLER THAN 300px by 300px */
/* DEVICES NOT YET SUPPORTED */
/*
    iPad Air
    iPad Mini
    iPad Pro
    Surface Pro 7
    Surface Duo (Dual Screen Mode)
    Asus Zenbook Fold
    Nest Hub
    Nest Hub Max
/*                           */
/* MEDIA QUERIES NEEDED

    [ Site Title ]
    WIDTH: 765px - 910px
    BACKGROUND IMAGE: ALL HEIGHTS 
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border-style: none;
}

body {
  height: 100dvh;
  width: 100dvw;
}

#root {
  display: flex;
  height: 100%;
  width: 100%;
  background-image: url("../img/summer-landscape.jpg");
  background-size: 100% 100%;
  place-content: center center;
  place-items: center center;
}

#_base {
  position: relative;
  display: flex;
  flex: 1;
  place-content: center center;
  place-items: center center;
  width: 95%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5vh;
}
#_base #_page {
  padding: 1rem;
  position: relative;
  top: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: transparent transparent;
  height: 90%;
  width: 100%;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.25);
  border-radius: inherit;
}
#_base #_page ._content-block:first-of-type {
  margin-top: 0;
}
#_base #_page ._content-block {
  margin-top: 1rem;
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(240, 248, 255, 0.25);
  border: 2px solid rgba(0, 0, 0, 0.25);
  border-radius: inherit;
}
#_base #_page ._content-block br {
  height: 1rem;
  width: 100%;
}
#_base #_page ._content-block ul li {
  margin-left: 3vw;
}

#header {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: absolute;
  top: 0.25rem;
  z-index: 1;
  height: 10vh;
  width: 100%;
  color: transparent;
}
#header #site-title {
  display: none;
  align-self: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  -webkit-text-stroke: 2px rgb(0, 0, 0);
  background-image: linear-gradient(180deg, rgb(143, 161, 218) 20%, rgb(250, 205, 0) 100%);
  background-clip: text;
}
#header #button-container {
  display: inherit;
  width: 100%;
  height: 50%;
}
#header #button-container button {
  position: relative;
  width: 23%;
  background-color: transparent;
  font-size: 1rem;
}
#header #button-container button:hover {
  text-decoration: underline;
  transform: scale(110%) translateY(20%);
  transition: ease 0.3s;
}

#error-container {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  height: 100vh;
  width: 100vw;
  color: red;
}
#error-container img {
  height: 100vh;
  width: 100vw;
}
#error-container a {
  position: absolute;
  top: 0;
  color: white;
  background-color: transparent;
  border: none;
  font-size: 1rem;
}
#error-container a:hover {
  color: red;
}
#error-container #error-message {
  position: absolute;
  bottom: 0;
  text-wrap: balance;
  text-align: center;
}
#error-container #error-message p {
  display: inline;
  font-size: 0.75rem;
}

@media screen and (min-height: 431px) and (min-width: 765px) {
  #_base {
    top: 1.75rem;
    width: 100%;
    height: 90%;
  }
  #_base #_page {
    top: 1.25rem;
    height: 95%;
    width: 90%;
  }
  #_base #_page ._content-block {
    margin-left: 1rem;
    font-size: 2rem;
  }
  #header {
    font-size: 3.5rem;
  }
  #header #site-title {
    display: flex;
  }
  #header #button-container button {
    margin-top: 1rem;
  }
  #error-container a {
    font-size: 3.5rem;
  }
  #error-container #error-message p {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 375px) and (max-height: 700px) {
  #error-container a {
    font-size: 1rem;
  }
  #error-container #error-message p {
    font-size: 1rem;
  }
}
@media screen and (min-height: 700px) and (max-width: 431px) {
  #header {
    top: 0;
  }
  #header #button-container {
    height: 40%;
    width: 100%;
  }
  #_base {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  #_base #_page {
    top: 1.25rem;
    height: 95%;
  }
  #error-container a {
    font-size: 2rem;
  }
  #error-container #error-message p {
    font-size: 2rem;
  }
}
@media screen and (max-height: 450px) and (min-width: 500px) {
  #error-container a {
    font-size: 2rem;
  }
  #error-container #error-message p {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=global.css.map */
